<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/content/site.css" rel="stylesheet" />
     <link href="~/content/Painting.css" rel="stylesheet" />
     <link href="~/content/Artist.css" rel="stylesheet" />
     <link href="~/content/GetAllArtists.css" rel="stylesheet" />
     <link href="~/content/index.css" rel="stylesheet" /> 
    


    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
