@model PaintingViewModel
@{
    ViewData["Title"] = "Full image";
}
    @foreach(var item in Model.Paintings)
    {
         <div class="get-container">
         
                <img class="one-image" src="@item.Image" alt="Image"/>       
          
               </div>
    
    }
